.Login{
	width: 500px;
	height: 100vh;
	margin: 0 auto;
	display:  flex;
	justify-content: center;
	align-items: center;
}
.LogIn__container{

}
.container__form{
	width: 500px;
	
}
.form__labelLogin{
	display: block;
	text-align: center;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.form__inputLogin{
	width: 270px;
	padding: 4px;
	margin: 20px auto;
	text-align: center;
	display: block;
	border: 3px solid #3f84eb;
	
}
.form__inputLogin:focus{
	border-color: #0050c7 !important; 
	outline: none;
}
.form__labelPassword{
	text-align: center;
	display: block;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.form__inputPassword{
	display: block;
	width: 270px;
	padding: 4px;
	margin: 20px auto;
	border: 3px solid #3f84eb;
	text-align: center;
}
.form__inputPassword:focus{
	border-color: #0050c7 !important; 
	outline: none;
}
.form__submit{
	display: block;
	background-color: #0d6efd;
	color: white;
	border: none;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	margin: 20px auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	

}
.form__submit:hover{

	background-color: #0b459b;
	transition: .6s;
}
.incorrectData{
	margin: 0 auto;
	color: red;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;

}